.caption{
    color: white;
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.text{
    color: white;
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.btn1{
    position: absolute;
    z-index: 999; /* 可根据需要调整图标的层叠顺序 */
    top: 0.5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    padding: 2vh;
    text-decoration: none;
}
.btn2{
    position: absolute;
    z-index: 999; /* 可根据需要调整图标的层叠顺序 */
    top: 0.5%;
    right: 1%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    padding: 2vh;
    text-decoration: none;
}

.btn3{
    position: absolute;
    z-index: 999; /* 可根据需要调整图标的层叠顺序 */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    color: white;
    font-size: 24px;
    padding: 2vh;
    text-decoration: none;
}

